In [1]:
import numpy as np

In [42]:
a = '나는\t바보\t입니다.\n나는\t김도현\t입니다.'

In [43]:
a = a.split('\n')

In [44]:
a = np.array(a)

In [45]:
a

array(['나는\t바보\t입니다.', '나는\t김도현\t입니다.'], dtype='<U11')

In [46]:
np.(a,sep='\t')

SyntaxError: invalid syntax (<ipython-input-46-2b25c2609013>, line 1)

In [29]:
import pandas as pd

In [48]:
a.shape

(2,)

In [32]:
pd.to_numeric(['2000','300'])

array([2000,  300], dtype=int64)

In [37]:
a

array('나는\t바보\t입니다.\n나는\t김도현\t입니다.', dtype='<U22')

In [58]:
np.char.split(a,sep='\t')

array([list(['나는', '바보', '입니다.']), list(['나는', '김도현', '입니다.'])],
      dtype=object)